@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  :root {
    --background: hsl(338.2 0% 100%);
    --foreground: hsl(0 0% 0%);
    --card: hsl(338.2 0% 100%);
    --card-foreground: hsl(0 0% 0%);
    --popover: hsl(338.2 0% 100%);
    --popover-foreground: hsl(0 0% 0%);
    --primary: hsl(337.5 0% 5.1%);
    --primary-foreground: hsl(338.2 0% 100%);
    --secondary: hsl(320 0% 94.9%);
    --secondary-foreground: hsl(0 0% 30%);
    --muted: hsl(0 2% 90%);
    --muted-foreground: hsl(0 0% 30%);
    --accent: hsl(0 2% 90%);
    --accent-foreground: hsl(0 0% 20%);
    --destructive: hsl(6.8 122.3% 77.9%);
    --destructive-foreground: hsl(0 0% 0%);
    --border: hsl(0 0% 30%);
    --input: hsl(0 0% 30%);
    --ring: hsl(337.5 0% 5.1%);
    --radius: 0.5rem;
    --chart-1: hsl(337.5 0% 5.1%);
    --chart-2: hsl(320 0% 94.9%);
    --chart-3: hsl(0 2% 90%);
    --chart-4: hsl(0 2% 100%);
    --chart-5: hsl(337.5 0% 15.1%);

    --sidebar-background: hsl(0 0% 97%);
    --sidebar-foreground: hsl(0 0% 38%);
    --sidebar-primary: hsl(0 0% 50%);
    --sidebar-primary-foreground: hsl(0 0% 0%);
    --sidebar-accent: hsl(0 2% 87%);
    --sidebar-accent-foreground: hsl(0 0% 20%);
    --sidebar-border: hsl(0 0% 27%);
    --sidebar-ring: hsl(0 0% 2%);
  }

  .dark {
    --background: hsl(338.2 10% 10%);
    --foreground: hsl(0 10% 90%);
    --card: hsl(338.2 10% 10%);
    --card-foreground: hsl(0 10% 90%);
    --popover: hsl(338.2 10% 10%);
    --popover-foreground: hsl(0 10% 90%);
    --primary: hsl(337.5 10% 90%);
    --primary-foreground: hsl(338.2 10% 10%);
    --secondary: hsl(320 10% 10%);
    --secondary-foreground: hsl(0 10% 70%);
    --muted: hsl(0 12% 10%);
    --muted-foreground: hsl(0 10% 70%);
    --accent: hsl(0 12% 10%);
    --accent-foreground: hsl(0 10% 80%);
    --destructive: hsl(6.8 100% 22.1%);
    --destructive-foreground: hsl(0 10% 90%);
    --border: hsl(0 10% 70%);
    --input: hsl(0 10% 70%);
    --ring: hsl(337.5 10% 90%);
    --radius: 0.5rem;
    --chart-1: hsl(337.5 10% 20%);
    --chart-2: hsl(320 10% 60%);
    --chart-3: hsl(0 12% 60%);
    --chart-4: hsl(0 12% 60%);
    --chart-5: hsl(337.5 10% 20%);

    --sidebar-background: hsl(338 10% 2%);
    --sidebar-foreground: hsl(0 10% 56%);
    --sidebar-primary: hsl(337 10% 50%);
    --sidebar-primary-foreground: hsl(338 10% 100%);
    --sidebar-accent: hsl(0 12% 25%);
    --sidebar-accent-foreground: hsl(0 10% 80%);
    --sidebar-border: hsl(0 10% 62%);
    --sidebar-ring: hsl(337 10% 82%);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}